*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d4d4d
}
.container{
    text-align: center;
    width: 400px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 12px 25px rgba(255,255,255,0.5);
    perspective: 1200px;
}
label{
    font-weight: 600;
    font-size: 20px;
}
#movie-select{
    padding: 5px;
    outline: none;
    margin: 7px;
}
ul li{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;

}
.basic-seat{
    width: 25px;
    height: 25px;
    background-color: black;
    margin: 2px 2px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.basic-seat.o-seat{
    background-color: red;
}
.basic-seat.s-seat{
    background-color: rgb(82, 204, 82);
}
.screen{
    height: 100px;
    width: 70%;
    background-color: #7d7d7d;
    margin: 10px auto;
    box-shadow: 10px 12px 40px rgba(0,0,0,0.5);
    transform: rotateX(-30deg);
}
.seat.o-seat{
    background-color: red;
}
.seat.s-seat{
    background-color: rgb(82, 204, 82);
}

.seat{
    width: 25px;
    height: 25px;
    background-color: rgba(0,0,0,0.7);
    margin: 2px 2px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    cursor: pointer;
}
.row{
    display: flex;
    justify-content: center;
}
.seat:nth-of-type(3){
    margin-left: 8px;
}
.seat:nth-last-of-type(2){
    margin-left: 8px;
}
.lastP {
    margin: 5px;
    padding: 3px;
    font-size: 24px;
}
.tickets, .total{
    color: green;
    font-weight: 700;
}